In [16]:
%%capture
!pip install pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./Data/traineedf.csv")

In [ ]:
"""
First, the data is seasonal and based on the month: is Periodic data Seuqnectial 
KPI: list of targets KPI Following ['OriginalGrossMargin', 'ActualGrossMargin', 'EACCostMargin'] 

Data will have two Splits :

## create a functino mapping for F(input_1, input_2,input_3,input_4  Model (LLM . TimeSeries, Transformers ) = Y_margin 
CostObjectName is text NLP 
1. Variabkles : input is Targts  : MARGIN 
                        output : 
                        
Finance LLM RAG system creating and Expter model LLM predation margin of the project                 
"""

In [ ]:
"""
1. descriptions Colsum
2. Projects interesting 
2. ans PDf Deccirbe Proect 
4. Acess ro Colab data 
5. and example of Statausi analysis
6. UI expectation 
"""

In [4]:
data.head(2)

,Unnamed: 0,HierarchyPathID,CostObjectID,CostObjectName,OriginalGrossMargin,ActualGrossMargin,EACCostMargin,ClientPostedHours,ClientPostedCost,CostObjectHierarchyLevel,ProjectStartDate,ProjectEndDate,TimePeriod
0,0,QU9124.01,01,OCP Cadmium Removal Feasibility Study,531188,0,495060,1335,2275319,1,2021-01-29,2021-03-26,2024-02
1,1,QB2108.01,01,Home Office Suffix 01,0,0,0,916,430644,1,2022-01-03,2022-03-31,2024-02

In [10]:
project_colsb= data[['CostObjectName']]

In [15]:
project_colsb.drop_duplicates()

                                         CostObjectName
0                 OCP Cadmium Removal Feasibility Study
1                                 Home Office Suffix 01
2                              Column Flotation Testing
3                                 Home Office Suffix 11
4                                   OCP Digital Cockpit
...                                                 ...
1470   Marsa Maroc Maintenance & Reliability Assessment
1474                      Mzinda / Youssoufia Stockyard
1846  The FEED for Jorf and Safi desalinated water p...
1852  SWRO Jorf Lasfar phase 2 P5 Construction, Comm...
1858                          Jorf desalination phase 3

[551 rows x 1 columns]

In [5]:
data.columns

Index(['Unnamed: 0', 'HierarchyPathID', 'CostObjectID', 'CostObjectName',
       'OriginalGrossMargin', 'ActualGrossMargin', 'EACCostMargin',
       'ClientPostedHours', 'ClientPostedCost', 'CostObjectHierarchyLevel',
       'ProjectStartDate', 'ProjectEndDate', 'TimePeriod'],
      dtype='object')

In [15]:
margin=data[['OriginalGrossMargin', 'ActualGrossMargin', 'EACCostMargin']] ## MAD currency

In [19]:
margin['sub_maring'] =margin['OriginalGrossMargin'] - margin['ActualGrossMargin'] ## Gross magrin is MAD

/tmp/ipykernel_21790/3208265408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  margin['sub_maring'] =margin['OriginalGrossMargin'] - margin['ActualGrossMargin'] ## Gross magrin is MAD

In [20]:
margin['sub_maring']

0       531188
1            0
2       167001
3            0
4            0
         ...
2003         0
2004         0
2005         0
2006         0
2007         0
Name: sub_maring, Length: 2008, dtype: int64